#lianjia-search{
    margin-top:100px;
    height: 100px;
    background: #f5f5f6;
    padding:30px 0 26px ;
    width: 1150px;
    margin:auto;
}
#lianjia-search>div:first-child{
    width: 980px;
    height: 32px;
}
#lianjia-search>div:first-child>span{
    width: 100px;
    height: 32px;
    background: url(img/sprite.png) -385px -591px  ;
}
#lianjia-search>div:first-child>a{
    margin-top:11px;
    margin-left:30px;
    height: 21px;
    color:#394043;
    font-size: 14px;
    font-weight:bold;
    line-height: 21px;
    text-align: right;
}
#lianjia-search>div:first-child>a:hover {
    color: #00ae66;
}
#lianjia-search>div:nth-child(2){
    text-align: right;
    width: 170px;
    height: 18px;
    font:16px/18px bold;
    position: relative;

}
#lianjia-search>div:nth-child(2)>i{
    position: absolute;
    width: 14px;
    height: 18px;
    background: url(img/sprite.png)  -579px -146px;
    left:50px;
}
#lianjia-search>div:nth-child(2)>p{
    position: absolute;
    width: 140px;
    height: 178px;
    text-align: center;
    top:18px;
    left:0;
    padding:28px;
    font-size:12px;
    line-height:23px;
    background: #fff;
    display:none;
}
#lianjia-search>div:nth-child(2):hover p{
    display:block;
}
#lianjia-search>div:nth-child(3){
    width: 710px;
    height: 45px;
    margin-top:23px;
    position: relative;
}
#lianjia-search>div:nth-child(3)>input{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border:none;
    outline:none;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,0.2);
    border-radius:2px;
    padding-left:10px;
}
#lianjia-search>div:nth-child(3)>button{
    outline:none;
    border:none;
    position: absolute;
    width: 50px;
    height: 45px;
    right:0;
    bottom:0;
    background: #fff;
}
#lianjia-search>div:nth-child(3)>button>span{
    position: absolute;
    width: 17px;
    height: 17px;
    left:50%;
    top:50%;
    transform:translateY(-50%) translateX(-50%);
    background: url(img/sprite.png)  -589px -96px ;
}
#lianjia-search>div:nth-child(3)>div{
    position: absolute;
    top:45px;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,0.2);
    border-radius:2px;
    display:none;
}
ul,li{
    list-style:none;
}
#lianjia-search>div:nth-child(3)>div li{
    height: 42px;
    padding-left:10px;
}
#lianjia-search>div:nth-child(3)>div li:first-child{
    color:#849aae;
    background-color: #f4f7f9;
}
#lianjia-search>div:nth-child(3)>div a{
    color:#394043;
    line-height:42px;
    font-size: 14px;
}
#lianjia-search>div:nth-child(3):hover div{
    display:block;
}
#lianjia-search>div:nth-child(3)>div li:hover{
    background-color: #f4f7f9;
}
