.app_daoliu{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 130px;
    z-index: 1001;
    background-color: #fff;
    white-space: nowrap;
    box-shadow: 0 -3px 80px rgba(0,0,0,0.08);
}
.app_content{
    text-align: center;
}
.app_img{
    width: 190px;
    display: inline-block;
    position: relative;
    bottom: 50px;
    vertical-align: top;
}
.app_img img{
    width:100%;
    border: 0;
    vertical-align: top;
}
.app_desc_c{
    margin-left: 35px;
    display: inline-block;
    line-height: 1;
    vertical-align: top;
    text-align: left;
}
.app_desc_c .app_title{
    margin-top: 40px;
    color: #394043;
    font-size: 20px;
    margin-bottom: 23px;
    font-weight: bold;
}
.app_desc_c .app_desc{
    olor: #9c9fa1;
    font-size: 13px;
    margin-top: 8px;
}
.app_qr{
    display: inline-block;
    vertical-align: top;
    width: 88px;
    margin-top: 22px;
    margin-left: 63px;
}
.app_qr img{
    border: 0;
    vertical-align: top;
    width:100%;
}
.app_close{
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
    width: 15px;
    margin-left: 41px;
    cursor: pointer;
}
.app_close img{
    border: 0;
    vertical-align: top;
    width:100%;
}