#allmap{width:100%;height:800px;}
body,a,ul,li{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    outline: none;
}
/*弹框*/
.detail {
    width: 403px;
    background-color: #fff;
    font-size: 12px;
    z-index: 4;
    position: absolute;
    top: 68px;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
/*房源数量*/
.r-list .r-main .r-hd {
    background-color: #fafafa;
    height: 40px;
    line-height: 40px;
    text-indent: 14px;
    font-weight: 800;
}
.r-list .r-main .r-hd .r-hd_i {
    color: #e4393c;
    padding-left: 4px;
    padding-right: 4px;
}
/*南京*/
.r-list .r-main .r-hd1 {
    border-bottom: 1px solid #e4e4e4;
    padding-left: 40px;
    position: relative;
}
.r-list .r-main .r-hd1 .i-card li {
    float: left;
    width: 140px;
    margin-right: 16px;
    height: 22px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.r-list .r-main .r-hd1 .i-card {
    overflow: hidden;
    font-size: 12px;
    color: #aaaaaa;
    padding: 15px 20px 12px;
}
.r-list .r-main .r-hd1 .i-card .i-card-name {
    font-size: 18px;
    color: #262626;
    font-weight: 800;
}
.r-list .r-main .r-hd1 .i-card .i-card-price {
    color: #e4393c;
    width: 164px;
    margin-right: 0;
}
.r-list .r-main .r-hd1 .i-card .i-card-price span {
    font-size: 18px;
    font-weight: 800;
}
.r-list .r-main .r-hd1 .i-card .i-card-radio {
    width: 164px;
    margin-right: 0;
}
/*图标绘制*/
.r-list .r-main .r-hd1 .r-hd1-bg {
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #3c96e6;
    top: 22px;
    left: 20px;
}
.r-list .r-main .r-hd1 .r-hd1-bg .r-hd1-cycle {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #fff;
    position: absolute;
    left: 7px;
    top: 4px;
}
.r-list .r-main .r-hd1 .r-hd1-bg .r-hd1-cycle div {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #3c96e6;
    border-radius: 3px;
    left: 3px;
    top: 3px;
}
.r-list .r-main .r-hd1 .r-hd1-bg .r-hd1-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-width: 7px;
    border-top-color: #fff;
    top: 13px;
    left: 8px;
}
/*商品表*/
.r-list .r-main .r-container {
    position: relative;
    overflow: hidden;

}
.r-list .r-main .r-content .list-item {
    border-bottom: 1px solid #e4e4e4;
}
.r-list .r-main .r-content .list-item a{
    display: block;
    width: 370px;
    padding: 22px 17px;
    color: #555555;
    font-size: 12px;
    position: relative;
    background-color: #ffffff;
    transition: background-color .15s ease-in-out;
}
/*商品表左侧图片*/
.r-list .r-main .r-content .list-item a .item-aside {
    float: left;
    width: 116px;
    height: 116px;
    margin-right: 18px;
    border-bottom: 4px solid transparent;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-tle {
    font-size: 14px;
    color: #262626;
    font-weight: 800;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.36;
}
.r-list .r-main .r-content .list-item a .item-aside .item-btm {
    height: 22px;
    background-color: #494848;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    line-height: 22px;
    overflow: hidden;
    margin-top: -22px;
    margin-left: 0;
    position: absolute;
    z-index: 2;
}
.r-list .r-main .r-content .list-item a .item-aside .item-btm .item-img-icon {
    border: 2px solid #fff;
    height: 8px;
    width: 8px;
    margin-left: 5px;
    float: left;
    margin-top: 5px;
    padding: 0;
    text-align: center;
}
.r-list .r-main .r-content .list-item a .item-aside .item-btm .item-img-icon .i-icon-arrow {
    display: block;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-width: 3px 3px 4px 5px;
    border-bottom-color: #fff;
}
.r-list .r-main .r-content .list-item a .item-aside .item-btm .item-img-icon .i-icon-dot {
    display: block;
    width: 2px;
    height: 2px;
    background-color: #fff;
    margin-top: -6px;
    margin-left: 1px;
}
.r-list .r-main .r-content .list-item a .item-aside .item-btm span {
    float: left;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}
/*商品表右侧文本*/
.r-list .r-main .r-content .list-item a .item-main .item-tle {
    font-size: 14px;
    color: #262626;
    font-weight: 800;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.36;
}
.r-list .r-main .r-content .list-item a .item-main .item-des {
    white-space: nowrap;
    position: relative;
    margin-top: -10px;
    line-height: 1.84;
}
.r-list .r-main .r-content .list-item a .item-main .item-des span {
    margin-right: 5px;
}
.r-list .r-main .r-content .list-item a .item-main .item-des .item-side {
    margin-right: 0;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: -3px;
    color: #e4393c;
    font-weight: 800;
}
.r-list .r-main .r-content .list-item a .item-main .item-des .item-side span {
    font-size: 12px;
    font-weight: normal;
    margin-left: 2px;
    margin-right: 0;
}
.r-list .r-main .r-content .list-item a .item-main .item-community {
    line-height: 0.84;
    min-height: 21px;
}
.r-list .r-main .r-content .list-item a .item-main .item-tag-wrap {
    margin-top: -10px;
    min-height: 29px;
    float: right;
    margin-right: 110px;
}
.r-list .r-main .r-content .list-item a .item-main .item-tag-subway {
    color: #2973b3;
}
.r-list .r-main .r-content .list-item a .item-main .item-extra {
    border: 1px solid #2973b3;
    margin-right: 6px;
    padding: 1px 6px 2px;
    margin-top: 6px;
}
.r-list .r-main .r-content .list-item a .item-main .item-tag-taxfree {
    color: #9ec77d;
}
.r-list .r-main .r-content .list-item a .item-main .item-extra {
    border: 1px solid #9ec77d;
    margin-right: 6px;
    padding: 1px 6px 2px;
    margin-top: 6px;
}

/*按钮*/
.btn-wrap {
    border-left: 1px solid #a6a6a6;
    left: 403px;
    position: absolute;
    z-index: 2;
    top: 68px;
    bottom: 0;
}
.btn {
    position: absolute;
    z-index: 3;
    top: 50%;
    bottom: 0;
    left: -1px;
    width: 12px;
    height: 52px;
    margin-top: -2px;
    cursor: pointer;
    color: #8d939a;
    background-color: #fff;
    border: 1px solid #a6a6a6;
    border-left-width: 0;
    text-shadow: 0 0 1px #8d939a;
    text-indent: 2px;
}
/*朝伟*/
.header-clear{
    width: 1440px;
    height: 69px;
    margin: 0 auto;
    border: 1px solid transparent;
    position: relative;
}
.header-logo{
    position: absolute;
    height: 28px;
    width: 130px;

    margin-top: 20px;
}
.header-search{
    position: absolute;
    width: 60px;
    height: 20px;

    margin-top: 24px;
    margin-left:140px;
    background-color: #00ae66;
    cursor: pointer;
}



.header-search>p{
    margin-top: 0px;
    position: absolute;
    font-size: 12px;
    color: white;
    line-height: 20px;
    margin-left: 3px ;
    width: 60px;
    height: 20px;

}
.header-search>ul{
    width: 59px;
    border: 1px solid #ccc;
    height: 69px;
    position: absolute;
    margin-top: 21px;
    margin-left:0px;
    z-index: 5;
    background: white;
    display: none;
}
.header-search:hover>.item{display: block}
.header-search>ul>a>li{
    width: 60px;
    margin-left: 5px ;
    margin-top: 5px;
    font-size: 12px;
    list-style: none;
}
.sanjiao{
    position:absolute;
    top:8px;
    margin-left: 45px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: white transparent  transparent transparent;
    width: 0px;
    height: 0px;
}
.input-search>input{
    position: absolute;
    width: 219px;
    height: 28px;
    border: 1px solid #cccccc;
    margin-left: 219px;
    margin-top: 20px;
}
.logo-search>button{
    position: absolute;
    margin-left:439px;
    width: 66px;
    height: 34px;
    margin-top: 18px;
    background:#00ae66 ;
    cursor: pointer;
}
.house-price{
    width: 106px;
    height: 228px;
    position: relative;

    margin-left:520px; margin-top: 20px;
    cursor: pointer;
    z-index: 5;

}
.h-price{
    width: 106px;
    height: 28px;
    border: 1px solid #cccccc;
    position: absolute;
    margin-top: 0px;
}

.h-price>p{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
}
.house-price-search>ul{
    border: 1px solid #cccccc;
    position: absolute;
    list-style: none;
    margin-top:28px;
    width: 105px;
    height: 220px;
    display: none;
    z-index: 1;
    background: white;

}
.house-price:hover>.house-price-search>ul{display: block}
.house-price-search>ul>li{
    list-style: none;
    text-align:left;
    padding: 2.5px;
    font-size: 12px;
    margin-left: 4px;
    margin-top: 2px;


}
.house-price-sanjiao{
    position:absolute;
    margin-top:10px;
    margin-left: 80px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: black transparent  transparent transparent;
    width: 0px;
    height: 0px;
}


.house-area{
    width: 106px;
    height: 228px;
    position: relative;

    margin-left:635px; margin-top:-228px;
    cursor: pointer;
    z-index: 5;

}
.h-area{
    width: 106px;
height: 28px;
position: absolute;
border: 1px solid #ccc;
}
.h-area>p{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
}
.house-area:hover>.house-area-search>ul{display: block}
.house-area-search>ul{
    border: 1px solid #cccccc;
    position: absolute;
    list-style: none;
    margin-top:28px;
    width: 105px;
    height: 200px;
    display:none;
    z-index: 1333;
    background: white;

}
.house-area-search>ul>li{
    list-style: none;
    text-align:left;
    padding: 2.5px;
    font-size: 12px;
    margin-left: 4px;
    margin-top: 2px;

}
.house-area-sanjiao{
    position:absolute;
    margin-top:10px;
    margin-left: 80px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: black transparent  transparent transparent;
    width: 0px;
    height: 0px;
}


.house-type{
    width: 106px;
    height: 228px;
    position: relative;

    left:750px; margin-top:-228px;
    cursor: pointer;
    z-index: 5;
}
.house-type:hover>.house-type-search>ul{display: block;}
.h-type{
    width: 106px;
    height: 28px;
    position: absolute;
    border: 1px solid #ccc;
}

.h-type>p{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
}
.house-type-search>ul{
    border: 1px solid #cccccc;
    position: absolute;
    list-style: none;
    margin-top:28px;
    width: 105px;
    height: 180px;
    display:none;
    z-index:1;
    background: white;
}

.house-type-search>ul>li{
    list-style: none;
    text-align:left;
    padding: 2.5px;
    font-size: 12px;
    margin-left: 4px;
    margin-top: 2px;

}
.house-type-sanjiao{
    position:absolute;
    margin-top:10px;
    margin-left: 80px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: black transparent  transparent transparent;
    width: 0px;
    height: 0px;
}

.more{
    width: 94px;
    height: 28px;
    position: relative;
    border: 1px solid #cccccc;
    margin-left: 870px;
    margin-top: -50px;
    cursor: pointer;


}


.more>p{
    position: absolute;
    margin-top:5px;
    margin-left:8px;
    font-size: 12px;
}
.more-search{
    width: 212px;
    height: 200px;
    position: absolute;
    margin-top:28px;
    margin-left: -118px;
    border: 1px solid #ccc;
    display:none;
    z-index: 5;
    background: white;
}
.more:hover>.more-search{display: block}
.more-search>span{
    font-size: 14px;
    position: absolute;
    color: #333333;
    margin-top:20px;
    margin-left:10px;
}
.more-search-aspect>{
    width: 80px;
    height: 158px;
    position: absolute;
    border: 1px solid red;
    margin-left:100px;
    margin-top: 110px;
    z-index:10;


}
.more-search-aspect:hover>house-area-search>ul{display: block}

li{list-style: none}
.h-more>p{
    margin-top:0px;
    margin-left: 8px;
    position: absolute;
    font-size: 12px;

}
.more-search-aspect>ul{
    margin-left: 110px;
    border: 1px solid #ccc;
    width: 80px;
    height: 150px;
    margin-top: 40px;
    display:none;
    position: absolute;

}
.h-more{
    border: 1px solid #ccc;
    position: absolute;
    width: 80px;
    height: 20px;
    margin-left:110px;
    margin-top: 20px;
}
.more-search-aspect>ul>li{
    margin-top: 8px;
    margin-left: 8px;
    font-size: 12px;
}
.more-search-sanjiao{
    position:absolute;
    margin-top:10px;
    margin-left: 70px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: black transparent  transparent transparent;
    width: 0px;
    height: 0px;
}
.more-search-aspect-sanjiao{
    position:absolute;
    margin-top:27px;
    margin-left: 170px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: black transparent  transparent transparent;
    width: 0px;
    height: 0px;
}
.h-age{
    border: 1px solid #ccc;
    position: absolute;
    width: 80px;
    height: 20px;
    margin-left:100px;
    margin-top: -15px;
}
.h-age>p{
    margin-top:0px;
    margin-left: 8px;
    position: absolute;
    font-size: 12px;
}
.floor-age>ul{
    margin-left: 100px;
    border: 1px solid #ccc;
    width: 80px;
    height: 110px;
    margin-top: 5px;
    font-size: 12px;
    display: none;
    position: absolute;
    background: white;

}
.floor-age>ul>li{
    margin-top: 5px;
    margin-left: 7px;
    font-size: 12px;
}
.floor{
    font-size: 12px;
    position: absolute;
    color: #333333;
    margin-top:70px;
    margin-left:10px;
}
.floor-age-sanjiao{
    position:absolute;
    margin-top:-8px;
    margin-left: 160px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: black transparent  transparent transparent;
    width: 0px;
    height: 0px;
}
.floor-serach-plan>span{
    font-size: 12px;
    position: absolute;
    color: #333333;
    margin-top:120px;
    margin-left:10px
}
.h-plan{
    border: 1px solid #ccc;
    position: absolute;
    width: 80px;
    height: 22px;
    margin-left:110px;
    margin-top: 120px;
}
.h-plan>p{
    margin-top:0px;
    margin-left: 8px;
    position: absolute;
    font-size: 12px;
}
.floor-plan>ul>li{
    margin-top: 5px;
    margin-left: 7px;
    font-size: 12px;
}
.floor-plan>ul{
    margin-left: 110px;
    border: 1px solid #ccc;
    width: 80px;
    height: 90px;
    margin-top: 140px;
    font-size: 12px;
    display: none;
    position: absolute;
    background: white;

}
.floor-plan-sanjiao{
    position:absolute;
    margin-top:127px;
    margin-left: 170px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: black transparent  transparent transparent;
    width: 0px;
    height: 0px;
}

.else>span{
    font-size: 12px;
    position: absolute;
    color: #333333;
    margin-top:170px;
    margin-left:10px
}
.h-else{
    border: 1px solid #ccc;
    position: absolute;
    width: 80px;
    height: 20px;
    margin-left:110px;
    margin-top: 165px;
}
.h-else>p{
    margin-top:0px;
    margin-left: 8px;
    position: absolute;
    font-size: 12px;
}
.floor-else>ul>li{
    margin-top: 5px;
    margin-left: 7px;
    font-size: 12px;
}

.floor-else>ul{
    margin-left: 110px;
    border: 1px solid #ccc;
    width: 80px;
    height: 50px;
    margin-top: 185px;
    font-size: 12px;
    display: none;
    position: absolute;
    background: white;
}
.floor-else-sanjiao{
    position:absolute;
    margin-top:172px;
    margin-left: 170px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: black transparent  transparent transparent;
    width: 0px;
    height: 0px;
}

.clear{
    width: 20px;
    height: 16px;
    position: absolute;
    margin-left: 980px;
    margin-top: -23px;

}
.clear>span{
    width: 94px;
    height: 26px;
    position: absolute;
    cursor: pointer;
    font-size: 12px;
    margin-left: 20px;
    margin-top: -20px;
}
.header-login{
    width: 28px;
    height: 18px;
    position: absolute;
    cursor: pointer;
    margin-left: 1350px;
    font-size: 14px;
    margin-top: -22px;


}
.shuxian{
    height: 15px;
    position: absolute;
    border: .5px solid black;
    margin-left: 1381px;
    font-size: 14px;
    margin-top: -20px
}
.header-register{
    width: 28px;
    height: 18px;
    position: absolute;
    cursor: pointer;
    margin-left: 1385px;
    font-size: 14px;
    margin-top: -22px;
}
a{
    color:black;
    text-decoration:none;
}
.first-child{
    color:#00ae66 ;
}
