.header {
  background: #f5f5f6;
}
.header .wrap {
  width: 1150px;
  margin: 0 auto;
  padding: 30px 0  25px;
  line-height: 32px;
  font-size: 16px;
}
.header .wrap:before,
.header .wrap:after {
  display: block;
  content: "";
  clear: both;
}
.header .logo {
  width: 120px;
  background-image: url(../img/images/header/logo.png);
  background-position: 0 0px;
  background-size:300px 32px;
  height: 32px;
  float: left;
}
.header a {
  color: #394043;
}
.header .nav {
  margin-left: 34px;
}
.header .nav {
  float: left;
}
.header .nav li {
  float: left;
}
.header .nav li {
  padding-left: 32px;
}
.header .nav li:first-child {
  padding-left: 0;
}
.header .nav a.active {
  color: #00ae66;
}
.m-jumbotron {
  padding-top: 20px;
  padding-bottom: 50px;
  line-height: 1;
  text-align: center;
  background-color: #f5f5f6;
}
.m-jumbotron .title {
  font-size: 33px;
  font-weight: bold;
  color: #333;
}
.m-jumbotron .sub-title {
  font-size: 16px;
  color: #878787;
  margin-top: 15px;
}
BY cc chb cyh ul,
li {
  list-style: none;
}
.main-form {
  width: 590px;
  margin: 65px auto 50px;
}
.main-form > ul {
  width: 100%;
  height: 45px;
  padding: 10px 0;
  border-bottom: 1px solid #e3e3e3;
  box-sizing: content-box;
}
.main-form > ul > li {
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  color: #333;
}
.main-form > ul:first-child > li:last-child {
  color: #9c9fa1;
  font-weight: normal;
}
.main-form > ul > li:first-child {
  width: 120px;
}
.main-form > ul > li input {
  width: 270px;
  display: inline-block;
  border: none;
  outline: none;
}
.main-form > ul:nth-child(2) div {
  position: relative;
}
.main-form > ul:nth-child(2) ul {
  min-width: 400px;
  border: 1px solid #e3e3e3;
  position: absolute;
  background: #fffff5;
  display: none;
}
form.main-form > ul:nth-child(2) ul li {
  line-height: 20px;
  font-size: 12px;
  padding: 8px;
  cursor: pointer;
  color: #333;
}
.main-form > ul:nth-child(2) ul li:hover {
  background-color: #eaf1e6;
}
.main-form > ul:nth-child(3) input {
  width: 66px;
  height: 40px;
  padding: 5px;
  float: left;
}
.main-form > ul:nth-child(3) span {
  display: inline-block;
  float: left;
  height: 40px;
  font-size: 18px;
  color: #CCCCCC;
  margin-right: 10px;
}
.main-form > ul:nth-child(7) > li:last-child > input:last-child {
  float: right;
  width: 145px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 1px;
  cursor: pointer;
  font-size: 12px;
  background-color: #fdfdfd;
  color: #666;
}
.main-form > input {
  display: block;
  width: 195px;
  height: 55px;
  margin: 50px auto 0;
  border: none;
  outline: none;
  background: #00ac65;
  line-height: 55px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}
.m-process {
  width: 990px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 60px;
  font-size: 14px;
}
.m-process .hd {
  position: relative;
  text-align: center;
  color: #666;
}
.m-process .hd:before {
  left: 0;
}
.m-process .hd:after {
  right: 0;
}
.m-process .hd:before,
.m-process .hd:after {
  content: "";
  position: absolute;
  top: 10px;
  height: 1px;
  width: 430px;
  background-color: #eee;
}
.m-process .bd {
  color: #394043;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 45px;
  box-sizing: border-box;
}
.m-process .bd li {
  float: left;
  position: relative;
  width: 195px;
  margin-left: 52px;
  padding-left: 58px;
  box-sizing: border-box;
}
.m-process .bd .icon {
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  top: 0;
  text-rendering: optimizeLegibility;
  border-radius: 50%;
  background-color: #d0d1d2;
  text-align: center;
  line-height: 48px;
  font-size: 30px;
  color: white;
  font-weight: 600;
}
ul:before,
ul:after {
  display: block;
  content: "";
  clear: both;
}
.m-process .bd .tit {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}
.m-process .bd .sub-tit {
  font-size: 12px;
  line-height: 20px;
  color: #999;
}
.publish-details {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 38px;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 50px;
}
.form-details {
  height: 950px;
  width: 960px;
  margin: 0 auto;
  background: white;
  padding-top: 30px;
}
.form-details p {
  font-size: 24px;
  display: block;
  width: 80%;
  margin: 0 auto 50px;
}
.form-details ul {
  width: 80%;
  margin: 0 auto;
}
.form-details ul li {
  margin: 15px auto;
  height: 30px;
}
.form-details ul li span {
  font-size: 18px;
}
.form-details ul li input[type=text] {
  width: 400px;
  height: 30px;
  padding-left: 10px;
}
.form-details ul li select {
  width: 90px;
  height: 30px;
  margin-right: 5px;
}
.form-details ul li:nth-child(4) select {
  margin-left: 5px;
}
.form-details ul li:nth-child(4) :first-child {
  margin-left: 0px;
}
.form-details ul li:nth-child(8) input {
  width: 50px;
  height: 30px;
}
.form-details ul li:nth-child(11) input {
  width: 50px;
  height: 30px;
  margin-right: 10px;
}
.form-details ul li span:first-child {
  display: inline-block;
  width: 200px;
  margin-bottom: 10px;
}
.form-details ul li:nth-child(14) {
  width: 100%;
  height: 55px;
  text-align: center;
}
.form-details .details-submit {
  display: inline-block;
  margin: 50px auto 0;
  width: 190px;
  line-height: 55px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background-color: #00ac65 ;
  cursor: pointer;
}
#img-upload {
  width: 0;
  height: 0;
  display: none;
}
