.wrapper {
  overflow: hidden;
  position: relative;
  padding: 50px 0 15px;
  width: 1150px;
  margin: 0 auto;
}
a {
  color: #394043;
}
.top .top-bg {
  background: url(../img/spriteV2_new.png) no-repeat -19px -94px;
  width: 248px;
  height: 30px;
}
.top p:nth-child(2) {
  color: #888;
  margin-top: 10px;
}
.top p:nth-child(2) a {
  color: #394043;
  float: right;
}
.top p:nth-child(2) a:hover {
  text-decoration: underline;
}
.wrapper-content {
  margin-top: 40px;
}
.wrapper-content > li {
  position: relative;
  width: 250px;
  height: 323px;
  float: left;
  border-radius: 2px;
  margin-bottom: 3px;
}
.wrapper-content > li {
  margin-right: 50px;
}
.wrapper-content > li:nth-child(4n) {
  margin-right: 0;
}
.wrapper-content > li a {
  display: block;
}
.wrapper-content > li a div.wrap {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.wrapper-content > li a div.wrap img {
  width: 250px;
  height: 192px;
  border: 0;
}
.wrapper-content > li a div.wrap > span {
  position: absolute;
  padding: 0 8px;
  border-radius: 1px;
  height: 30px;
  background: #394043;
  font-size: 18px;
  text-align: center;
  top: 150px;
  left: 0;
  line-height: 30px;
  color: #fff;
}
.wrap .wrap-bottom {
  width: 250px;
  height: 72px;
  background: #fff;
}
.wrap .wrap-bottom p:first-child {
  font-size: 16px;
  color: #394043;
  height: 20px;
  padding: 10px 18px 0;
  overflow: hidden;
}
.wrap .wrap-bottom p:last-child {
  color: #999;
  font-size: 12px;
  padding: 0 18px;
  overflow: hidden;
  height: 45px;
  line-height: 45px;
}
.wrap .wrap-bottom p:last-child span {
  margin-right: 8px;
  color: #999;
  font-size: 12px;
  line-height: 15px;
}
div.tips {
  height: 45px;
  line-height: 45px;
  padding-right: 5px;
}
div.tips p {
  color: #aaa;
  font-size: 12px;
  float: left;
  overflow: hidden;
  width: 244px;
}
div.tips p span {
  margin-right: 8px;
  color: #aaa;
  font-size: 12px;
}
